<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href={{css_url}} >
  <meta charset="UTF-8">
	<title>Photomaton</title>
</head>
<body class="print">
	<div class="picture">
		<img src="{{ picture_url }}"></img>
		<div class="caption">
	    {% if event_name %}
	       <p>{{ event_name }}</p>
	    {% endif %}
	    {% if place_name %}
	       <p>{{ place_name }}</p>
	    {% endif %}
	    <p>{{ taken_str }}</p>
		</div>
	</div>
	<div class="footer_container">
		<div class="footer">
			<img src="{{ logo_url }}"></img>
		</div>
	</div>
</body>
</html>